<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nysa Control Plane</title>
    <link rel="stylesheet" href="/static/vendors/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/vendors/bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <link rel="stylesheet" href="/static/css/dashboard.css">
  </head>

<body ng-app="myApp">
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Nysa Control Plane</a>
  </nav>

  <div class="container-fluid">
      <ui-view></ui-view>
  </div>

  <script type="text/javascript" src="/static/vendors/bower_components/ace-builds/src-min-noconflict/ace.js"></script>
  <script type="text/javascript" src="/static/vendors/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="/static/vendors/bower_components/angular-ui-ace/ui-ace.js"></script>
  <script type="text/javascript" src="/static/vendors/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="/static/vendors/bower_components/yaml.js/dist/yaml.min.js"></script>
  <script type="text/javascript" src="/static/vendors/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/vendors/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="/static/vendors/bower_components/moment/min/moment.min.js"></script>
  <!--<script type="text/javascript" src="/static/vendors/bower_components/moment-timezone/moment-timezone.js"></script>-->

  <script>
    var baseUrl = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port : '');

  </script>
  <script src="/static/js/index.js"></script>
</body>
</html>
