<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nysa Control Plane</title>
    <link rel="stylesheet" href="static/vendors/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/dashboard.css">
  </head>

<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Nysa Control Plane</a>
  </nav>

  <div class="container-fluid">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Nysa Control Plane!</h1>
      <p class="lead">This is a simple tool for managing deployments to AWS Elastic Container Service</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/cp" role="button">Start Here</a>
      </p>
    </div>
  </div>

</body>
</html>
